<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cut Links!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
    </head>
  <body>

    {% comment %}
    <div class="container" id="app">
      <br>
        <textarea v-model="message" placeholder="введите url" id='url_input' cols=100></textarea>
        <br><br>
        <input type="button" value="  Сгенерировать Url  " id='button' @click="generate(1)"></p>
        <hr>
      </div>
    {% endcomment %}

  <script src="/static/cut_link.js"></script>
  </body>
</html>
